<p id="notice"><%= notice %></p>

<script type="text/javascript">
$(document).ready(function(){
	setTimeout(function(){
		$('#notice').remove();
	}, 1000);
})
</script>

<center><em><h1>Motivate</h1></em>
	<div class="welcome">
		<em><h2>"<%= @quotes %>"</h2></em>
	</div></center>

<link rel="stylesheet" type="text/css" href="/css/welcome.css">

<center><h3><%= link_to 'Motivation', posts_path %> | 
<%= link_to "Lets Talk", rooms_show_path %></h3></center> | 
<% unless is_admin? %> 
	 <h3><center><%= link_to "Login", administrators_login_form_path %></h3></center>
 <% end %>




