<center><em><h1>Motivate</h1></em>
	<div class="welcome">
		<em><h2>"<%= @quotes.to_s %>"</h2></em>
	</div>
</center>

<center>
  <h3>
    <%= link_to 'Motivation', posts_path %> | 
    <%= link_to "Lets Talk", rooms_show_path %>
  </h3>
</center>

<!-- Possibly implement this at a later time. 03/17/16 -->
<% if logged_in? %> 
  <h3><center>
    <%= link_to "Admin Page", admin_root_path #not going to admin_root_path, refreshing back to root_path %> |  
    <%= link_to 'Logout', logout_path, mehtod: :delete %>
  </h3></center>
<% else %>
  <h3><center>
    <%= link_to "Admin Login", administrators_login_form_path %>
  </h3></center>
<% end %>
<link rel="stylesheet" type="text/css" href="/css/welcome.css">
