<center><%= form_for @contact, method: :post do |f| %>
  <% if @contact.errors.any? %>
    <center>
      <div id="error_explanation">
        <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% @contact.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>

          <p id="notice"><%= flash[:danger] %></p>
          <script type="text/javascript">
            $(document).ready(function(){
              setTimeout(function(){
                $('#notice').remove();
              }, 1000);
            })
          </script>
        </ul>
      </div>
    </center>
  <% end %>

  <div id="container">

    <div class="name-field">
      <%= f.label :name, class: "name-label" %>
      <%= f.text_field :name %>
    </div>

    <div class="email-field">
      <%= f.label :email, class: "email-label" %>
      <%= f.email_field :email %>
    </div>

    <div class="message-field">
      <%= f.label :message, class: "message-label" %>
      <%= f.text_area :message %>
    </div>

    <div class="actions">
      <%= f.submit "Get in Touch", class: "submit-button" %>
    </div></center>

  </div>
<% end %>

<link rel="stylesheet" type="text/css" href="/css/contact.css">
