<center><%= form_for @contact, method: :post do |f| %>

<div id="container">

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :message %>
    <%= f.text_area :message %>
  </div>

  <div class="actions">
    <%= f.submit "Get in Touch" %>
  </div></center>

</div>
<% end %>

<link rel="stylesheet" type="text/css" href="/css/contact.css">
