<%= form_for([:admin, @post]) do |f| %>
  <% if @post.errors.any? %>
    <center>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>

          <p id="notice"><%= flash[:danger] %></p>
          <script type="text/javascript">
            $(document).ready(function(){
              setTimeout(function(){
                $('#notice').remove();
              }, 2000);
            })
          </script>
        </ul>
      </div>
    </center>
  <% else %>
    <p id="notice"><%= notice %></p>
    <script type="text/javascript">
      $(document).ready(function(){
        setTimeout(function(){
          $('#notice').remove();
        }, 2000);
      })
    </script>
  <% end %>

  <center>
    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>
  </center>

  <center>
    <div class="field">
      <%= f.label :author %>
      <%= f.text_field :author %>
    </div>
  </center>

  <center>
    <div class="field">
      <%= f.label :story %>
      <%= f.text_area :story %>
    </div>
  </center>

  <center>
    <div class="field">
      <%= f.label :votes %>
      <%= f.number_field :votes %>
    </div>
  </center>

  <center>
    <div class="actions">
      <%= f.submit %>
    </div>
  </center>
<% end %>

<link rel="stylesheet" type="text/css" href="/css/post.css">
