<p id="notice"><%= notice %></p>

<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#notice').remove();
  }, 2000);
})
</script>

<center><h1>Listing All Posts</h1></center>

<!-- Implement later? Do we need this?
    <center><h1>
	Hi, <%#= @administrator.name %>
</h1></center> -->

<table class='table table-striped'>
  <thead>
    <tr>
      <td><center>Content</center></td>
      <td><center>Author</center></td>
      <td><center>Actions</center></td>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr class="the-actions">
        <td><center><%= post.content %></center></td>
        <td><center><%= link_to post.author, post_path(post.id) %></center></td>
        <td class="actions-column">
          <%= link_to 'Show', post %> &middot;
          <%= link_to 'Edit', [:edit, :admin, post] %> &middot;
          <%= link_to 'Delete', [:admin, post], method: 'delete', confirm: 'Are you sure you want to delete this post?', class: "delete-link" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<center><h4><%= link_to 'Post Something', new_admin_post_path %></h4></center>
<link rel="stylesheet" type="text/css" href="/css/administrator.css">
