<p id="notice"><%= notice %></p>

<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#notice').remove();
  }, 1000);
})
</script>

<center><h1>Administrators</h1></center>

<center><table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @administrators.each do |administrator| %>
      <tr>
        <center><td><%= administrator.email %></td>
        <td><%= link_to 'Show', administrator %></td>
        <td><%= link_to 'Edit', edit_administrator_path(administrator) %></td>
        <td><%= link_to 'Destroy', administrator, method: :delete, data: { confirm: 'Are you sure?' } %></td></center>
      </tr>
    <% end %>
  </tbody></center>
</table>

<br>
<% unless is_admin? %> 
 <h3><center><%= link_to "Login", administrators_login_form_path %></h3></center>
 <% end %>
<center><%= link_to 'New Administrator', new_administrator_path %></center>
