<center>
  <h1>Login Page</h1>

  <%= form_for(:session, url: administrators_login_path) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %><br />

    <%= f.label :password %>
    <%= f.password_field :password %><br />

    <div class="actions">
      <%= f.submit "Log Me In. Please and Thanks!", class: "submit-button" %>
    </div>
  <% end %>
</center>

<link rel="stylesheet" type="text/css" href="/css/administrator.css">
