<p id="notice"><%= notice %></p>

<h1>
  <strong>Welcome,</strong>
  <%= @administrator.name %>
</h1>

<%= link_to 'Edit', edit_administrator_path(@administrator) %> |
<%= link_to 'Back', administrators_path %> |
<%= link_to 'Homepage', root_path %> |
<%= link_to 'Log Out', logout_path, mehtod: "delete" %>
