<p id="notice"><%= notice %></p>

<script type="text/javascript">
$(document).ready(function(){
	setTimeout(function(){
		$('#notice').remove();
	}, 1000);
})
</script>

<h1>
  <strong>Welcome,</strong>
  <%= @administrator.name %>
</h1>

<% @posts.each do |p| %>
<h3><em>"<%= link_to p.content, post_path(p.id) %>"</em></h3>
<h3><em> - <%= p.author %></em></h3>
<h3>Votes: <%= p.votes %></h3>
<h3>Posted On: <%#= show time posted %></h3>
<h3>Notes: <%= p.story %></h3><br />
<% end %>


<center><%= link_to 'Edit', edit_administrator_path(@administrator) %></center>
<center><%= link_to 'Back', administrators_path %></center>
<center><%= link_to 'Post Something', new_post_path %></center>
<center><%= link_to 'Homepage', root_path %></center>
<center><%= link_to 'Log Out', logout_path, mehtod: "delete" %></center>
