<center><h1>Motivate</h1></center>
<link rel="stylesheet" type="text/css" href="/css/post.css">
<table>
  <thead>
    <%# unless @post.title.blank? %>
      <tr>
      <!-- Add logic where if title exists, show title, if title does not exist, don't show title. -->
        <!-- <th>Title</th>
        <th>Content</th>
        <th>Likes</th>
        <th>Author</th>
        <th colspan="4"></th> -->
      </tr>
    <%# end %>
  </thead>

  <tbody>
<!-- Implement a feature that goes to all posts by an author. Currently, author is directing to the show post page. -->
    <% @posts.each do |post| %>
      <tr>
        <h4><center>"<%= post.content %>"</center></h4>
        <h4><center>-<%= link_to post.author, post_path(post.id) %></center></h4><br>
      </tr>
    <% end %>
  </tbody>
  <% if admin? %>
    <center>
      <h3>
        <%= link_to 'Logout', logout_path, mehtod: :delete %>
      </h3>
    </center>
  <% end %>
  <center>
    <h3>
      <%= link_to 'Contact', new_contact_path %> |
      <%= link_to "Lets Talk", rooms_show_path %> |
      <%= link_to 'Home', root_path %>
    </h3>
  </center>
</table>
<br>
<br>
