<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
    <!-- Add logic where if title exists, show title, if title does not exist, don't show title. -->
      <th>Title</th>
      <th>Content</th>
      <th>Likes</th>
      <th>Author</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= link_to post.content, post_path(post.id) %></td>
        <td><%= post.votes %></td>
        <td><%= post.author %></td>
        <% if session[:user_type] = 'Administrator' %>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<center><h3><%= link_to "Let's Talk About It", rooms_show_path %></h3></center>
<br>
<% if session[:user_type] = 'Administrator' %>
<%= link_to 'New Post', new_post_path %>
<% end %>