<p id="notice"><%= notice %></p>

<script type="text/javascript">
$(document).ready(function(){
	setTimeout(function(){
		$('#notice').remove();
	}, 1000);
})
</script>

<p>
  <strong>Title:</strong>
  <em><%= @post.title %></em>
</p>

<p>
  <strong>Content:</strong>
  <em>"<%= @post.content %>"</em>
  -<%= @post.author %>
</p>

<p>
  <strong>Notes from <%= @post.user.user_name %>:</strong>
</p>
<p><%= @post.story %></p>

<p>
  <strong>Votes:</strong>
  <%= @post.votes %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.user_name %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
