<p id="notice"><%= notice %></p>

<script type="text/javascript">
$(document).ready(function(){
	setTimeout(function(){
		$('#notice').remove();
	}, 1000);
})
</script>

<%# @posts.each do |p| %>
<!-- <h3><em>"<%#= link_to p.content, post_path(p.id) %>"</em></h3>
<h3><em> - <%#= p.author %></em></h3>
<h3>Votes: <%#= p.votes %></h3>
<h3>Posted On: <%#= show time posted %></h3>
<h3>Notes: <%#= p.story %></h3><br />
<%# end %> -->

<p>
    <!-- Add logic where if title exists, show title, if title does not exist, don't show title. -->
  <strong>Title:</strong>
  <em><%= @post.title %></em>
</p>

<p>
  <em>"<%= @post.content %>"</em><br>
  <%# binding.pry %>
  -<%= @post.author %>
</p>

<p>
<strong>Notes:</strong>
<%= @post.story %></p>

  <strong>Likes:</strong>
  <p id='likeit'><%= @post.votes %></p>
  <button id="liking" type="submit">Like</button>

<br>
<center><h3><%= link_to "Let's Talk About It", rooms_show_path %></h3></center>


<% if session[:user_type] = 'Administrator' %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<% end %>
