<p id="notice"><%= notice %></p>

<script type="text/javascript">
$(document).ready(function(){
	setTimeout(function(){
		$('#notice').remove();
	}, 1000);
})
</script>

<!-- <center><h1>Motivate</h1></center> -->

<!-- <p> -->
    <!-- Add logic where if title exists, show title, if title does not exist, don't show title. -->
  <!-- <center><strong>Title:</strong></center>
  <em><%#= @post.title %></em>
</p> -->

<h4 id="top">
  <center><em>"<%= @post.content %>"</em></center><br>
  <%# binding.pry %>
  <center>-<%= @post.author %></center>
</h4>

<p>
  <center><strong>Notes:</strong></center>
  <center><%= @post.story %></center>
</p>

<center>
  <strong>Likes:</strong>
</center>
<center>
  <p id='likeit'><%= @post.votes %></p>
</center>
<center>
  <button id="liking" type="submit" data-id="<%= @post.id %>">Like</button>
</center>

<br>
<center>
  <h3>
    <%= link_to "Lets Talk", rooms_show_path %> |
    <%= link_to 'Back', posts_path %>
  </h3>
</center> 

<% unless is_admin? %> 
  <center><h3><%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </h3></center>
<% end %>
<link rel="stylesheet" type="text/css" href="/css/post.css">
