<center>
  <p id="notice"><%= notice %></p>
</center>

<script type="text/javascript">
$(document).ready(function(){
	setTimeout(function(){
		$('#notice').remove();
	}, 1000);
})
</script>

<center><h1>Motivate</h1></center>

<h4 id="top">
  <center><em>"<%= @post.content %>"</em></center><br>
  <center>-<%= @post.author %></center>
</h4>

<p>
  <center><strong>Notes:</strong></center>
  <center><%= @post.story %></center>
</p>

<center>
  <strong>Likes:</strong>
</center>
<center>
  <p id='likeit'><%= @post.votes %></p>
</center>
<center>
  <button id="liking" type="submit" data-id="<%= @post.id %>">Like</button>
</center>
<br>
<center>
  <small>
    Post created: <%= time_ago_in_words(@post.created_at) %> ago
  </small>
</center>
<br>
<center>
  <h3>
    <%= link_to "Lets Talk", rooms_show_path %> |
    <%= link_to 'Back', admin_posts_path %>
  </h3>
</center> 

<% if admin? %> 
  <center>
    <h3>
      <%= link_to 'Edit', edit_admin_post_path(@post) %> |
      <%= link_to 'Delete', admin_post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
    </h3>
  </center>
<% end %>
<link rel="stylesheet" type="text/css" href="/css/post.css">
